/*

 #################################################################           ################################################################
 #################################################################    CSS    #################################################################
 #################################################################           #################################################################


################################################################# HEADER #################################################################*/

.img-head {
    background-image: url("../img/header2.jpg");
    background-position: static;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0px;
    height: 250px;
}

header {

    background: red;
    border-bottom: solid 2px darkgrey;


}

/*################################################################# LOGO #################################################################*/


.logo {

    text-align: center;
    padding-top: 30px;
    color: white;
    font-size: 120%;
}


.logo_dos {

    text-align: left;

}

/*################################################################# PERFIL #################################################################*/


.perfil {

    text-align: left;

}

aside {

    background: lightgrey;
    border-left: solid 1px darkgrey;
    border-right: solid 1px darkgrey;
    border-bottom: solid 2px darkgrey;
    border-radius: 0px 0px 0px 7px;
}

/*################################################################# LINEA NARANJA #################################################################*/

.cajas {

    border-bottom: ridge 4px coral;

}


/*################################################################# TABLA #################################################################*/

table {

    text-align: center;
}


/*################################################################# CONTENIDO #################################################################*/


article {

    background: lightyellow;
    border-radius: 0px 0px 7px 0px;
    border-bottom: solid 2px darkgrey;

}

/*################################################################# END #################################################################*/